<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>clina</title>
</head>

<body>

<h3>{{title}}</h3>

<form id="createrepoform">
    owner name:<br>
    <input type="text" name="owner">
    <br>
    repo name:<br>
    <input type="text" name="repository">
    <br><br>
    <input id="createrepo" type="button" value="create bare repo">
</form>

<!-- Javascript section -->
<script src="/js/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $("#createrepo").click(function () {
            $.ajax({
                type: "POST",
                url: "/new",
                data: $("#createrepoform").serialize(),
                success: function (data) {
                    if (data == true) {
                        alert("create repo success");
                        window.location.href = "/";
                    } else {
                        alert("repo already exists");
                    }
                },
                error: function () {
                    alert("create repo failed");
                }
            });
        });
    });
</script>
</body>
</html>