<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<a href="/{{owner}}/{{repository}}/commits/{{revision}}">{{commitcount}} commits</a>

<a href="/{{owner}}/{{repository}}/branches">{{branchcount}} branches</a>

<a href="/{{owner}}/{{repository}}/tags">{{tagcount}} releases</a>

<h3>{{last-modified-commit.author}} authored {{last-modified-commit.interval}}</h3>

<h3>latest commit {{last-modified-commit.hash}}</h3>

<select onChange="window.location.href=this.value">
    {% for rev in revs %}
        {% ifequal rev revision %}
            <option selected="selected" value ="/{{owner}}/{{repository}}/tree/{{rev}}">{{rev}}</option>
        {% else %}
            <option value ="/{{owner}}/{{repository}}/tree/{{rev}}">{{rev}}</option>
        {% endifequal %}
    {% endfor %}
</select>

<ul>
    {% for path in parent-paths %}
    <li>{{path}}</li>
    {% endfor %}
</ul>

<ul>
    {% for file in files %}
    <li>{{file.name}} --- {{file.message}} --- [{{file.author}}] --- {{file.interval}}</li>
    {% endfor %}
</ul>
</body>
</html>