<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <link rel="stylesheet" type="text/css" href="/css/diffview.css"/>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/diffview.js"></script>
    <script type="text/javascript" src="/js/difflib.js"></script>

    <style type="text/css">
        body {
            font-size: 12px;
            font-family: Sans-Serif;
        }

        label:hover {
            text-decoration: underline;
            cursor: pointer;
        }

        h2 {
            margin: 0.5em 0 0.1em;
            text-align: center;
        }
    </style>

    <script type="text/javascript">
        $(function () {
            var owner = $("#owner").text();
            var repository = $("#repository").text();
            var commithash = $("#commithash").text();
            var url = "/" + new Array(owner, repository, "commit/diffcount", commithash).join("/");
            $.get(url, function (diffcount) {
                for (i = 0; i < diffcount; i++) {
                    diffUsingJS('oldText-' + i, 'newText-' + i, 'diffText-' + i);
                }
            });
        });
    </script>
</head>
<body>

<div id="owner">{{owner}}</div>
<div id="repository">{{repository}}</div>
<div id="commithash">{{commithash}}</div>

<select onChange="window.location.href=this.value">
    {% for branch in commitbranches %}
    {% ifequal branch revision %}
    <option selected="selected" value="/{{owner}}/{{repository}}/tree/{{branch}}">{{branch}}</option>
    {% else %}
    <option value="/{{owner}}/{{repository}}/tree/{{branch}}">{{branch}}</option>
    {% endifequal %}
    {% endfor %}
</select>

<select onChange="window.location.href=this.value">
    {% for tag in committags %}
    {% ifequal tag revision %}
    <option selected="selected" value="/{{owner}}/{{repository}}/tree/{{tag}}">{{tag}}</option>
    {% else %}
    <option value="/{{owner}}/{{repository}}/tree/{{tag}}">{{tag}}</option>
    {% endifequal %}
    {% endfor %}
</select>

<ul>
    {% for diff in diffs %}
    <li>
        <div id="diffText-{{diff.index}}"></div>
    </li>
    <textarea id="oldText-{{diff.index}}" style="display: none;">{{diff.diff.oldcontent}}</textarea>
    <textarea id="newText-{{diff.index}}" style="display: none;">{{diff.diff.newcontent}}</textarea>
    {% endfor %}
</ul>

<script type="text/javascript" src="/js/clina.js"></script>
</body>
</html>