<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <link rel="stylesheet" type="text/css" href="/vendors/jsdifflib/diffview.css"/>
    <link rel="stylesheet" type="text/css" href="/css/clina.css"/>
    <link rel="stylesheet" type="text/css" href="/vendors/google-code-prettify/prettify.css"/>
    <script type="text/javascript" src="/vendors/google-code-prettify/prettify.js"></script>
    <script type="text/javascript" src="/vendors/jquery/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="/vendors/jsdifflib/diffview.js"></script>
    <script type="text/javascript" src="/vendors/jsdifflib/difflib.js"></script>

    <script type="text/javascript">
        $(function () {
            var owner = $("#owner").text();
            var repository = $("#repository").text();
            var commithash = $("#commithash").text();
            var url = "/" + new Array(owner, repository, "commit/diffcount", commithash).join("/");
            $.get(url, function (diffcount) {
                for (i = 0; i < diffcount; i++) {
                    diffUsingJS('oldText-' + i, 'newText-' + i, 'diffText-' + i, 1, 0);
                }
            });
        });
    </script>
</head>
<body>

<div id="owner" style="display: none;">{{owner}}</div>
<div id="repository" style="display: none;">{{repository}}</div>
<div id="commithash" style="display: none;">{{commithash}}</div>

<select onChange="window.location.href=this.value">
    {% for branch in commitbranches %}
    {% ifequal branch revision %}
    <option selected="selected" value="/{{owner}}/{{repository}}/tree/{{branch}}">{{branch}}</option>
    {% else %}
    <option value="/{{owner}}/{{repository}}/tree/{{branch}}">{{branch}}</option>
    {% endifequal %}
    {% endfor %}
</select>

<select onChange="window.location.href=this.value">
    {% for tag in committags %}
    {% ifequal tag revision %}
    <option selected="selected" value="/{{owner}}/{{repository}}/tree/{{tag}}">{{tag}}</option>
    {% else %}
    <option value="/{{owner}}/{{repository}}/tree/{{tag}}">{{tag}}</option>
    {% endifequal %}
    {% endfor %}
</select>

{% for diff in diffs %}
<table class="table table-bordered diff-outside" commitId="{{commithash}}" fileName="{{diff.newpath}}"
       data-diff-id="{{diff.index}}">
    <tr>
        <td style="padding: 0;">
            <div id="diffText-{{diff.index}}"></div>
            <textarea id="oldText-{{diff.index}}" style="display: none;">{{diff.diff.oldcontent}}</textarea>
            <textarea id="newText-{{diff.index}}" style="display: none;">{{diff.diff.newcontent}}</textarea>
        </td>
    </tr>
</table>
{% endfor %}

<script type="text/javascript" src="/js/clina.js"></script>
</body>
</html>