<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<h3>{{last-modified-commit.author}} authored {{last-modified-commit.interval}}</h3>

<h3>latest commit {{last-modified-commit.hash}}</h3>

<select onChange="window.location.href=this.value">
    {% for branch in branchs %}
        {% ifequal branch currentrevision %}
            <option selected="selected" value ="/{{currentowner}}/{{currentrepo}}/tree/{{branch}}">{{branch}}</option>
        {% else %}
            <option value ="/{{currentowner}}/{{currentrepo}}/tree/{{branch}}">{{branch}}</option>
        {% endifequal %}
    {% endfor %}
</select>

<ul>
    {% for path in parent-paths %}
    <li>{{path}}</li>
    {% endfor %}
</ul>

<ul>
    {% for file in files %}
    <li>{{file.name}} --- {{file.message}} --- [{{file.author}}] --- {{file.interval}}</li>
    {% endfor %}
</ul>
</body>
</html>